<div class="container">
    <mat-list>
        <mat-list-item><span>1. </span>&nbsp; Scissors cuts Paper</mat-list-item>
        <mat-list-item><span>2. </span>&nbsp; Paper covers Rock</mat-list-item>
        <mat-list-item><span>3. </span>&nbsp; Rock crushes Lizard</mat-list-item>
        <mat-list-item><span>4. </span>&nbsp; Lizard poisons Spock</mat-list-item>
        <mat-list-item><span>5. </span>&nbsp; Spock smashes Scissors</mat-list-item>
        <mat-list-item><span>6. </span>&nbsp; Scissors decapitates Lizard</mat-list-item>
        <mat-list-item><span>7. </span>&nbsp; Lizard eats Paper</mat-list-item>
        <mat-list-item><span>8. </span>&nbsp; Paper disproves Spock</mat-list-item>
        <mat-list-item><span>9. </span>&nbsp; Spock vaporizes Rock</mat-list-item>
        <mat-list-item><span>10. </span>&nbsp; Rock crushes Scissors</mat-list-item>
    </mat-list>
</div>

