.container {
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-list-item {
    span {
        color: rgba(123,199,200,255);
        font-weight: bold;
    }
}
